*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #AEAEAE;
}

/* HEADER DA PÁGINA */
/* HEADER COM NAMESPACE - PARA NÃO CONFLITAR COM BOOTSTRAP */
.header_kortex{
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #D9D9D9 !important;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.452) !important;
    max-width: 100% !important;
    position: sticky !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 1030 !important;

    /* Cabeçalho principal */
    #cabPrinc{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        flex-wrap: nowrap !important;

        /* Logo principal */
        #logoCabe{
            img{
                min-width: 100px !important;
            }
        }
        
        /* Area de pesquisa */
        form{
            width: 120dvh !important;
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-between !important;
            flex-wrap: nowrap !important;

            /* Campo de texto */
            #campoPesquisa{
                display: inline-block !important;
                min-width: 90% !important;
                height: 30px !important;
                border: none !important;
                border-radius: 50px !important;
                translate: 0px -2px !important;
                margin-left: 20px !important;
                padding-left: 15px !important;
                font-family: Arial, Helvetica, sans-serif !important;
                background-color: white !important;
            }

            /* Icone de lupa / botão de pesquisa */
            a{
                height: 30px !important;
                img{
                    margin: 0px 20px 0px 2px !important;
                    width: 25px !important;
                }
            }
        }

        /* Opções de conexao */
        ul{
            display: flex !important;
            flex-wrap: nowrap !important;
            justify-content: flex-start !important;
            width: 200px !important;
            margin: 0 !important;
            padding: 0 !important;

            li{
                display: inline !important;
                margin: 0px 15px !important;
                font-weight: 800 !important;
                list-style: none !important;

                a{
                    color: black !important;
                    text-decoration: none !important;
                    background-color: transparent !important;
                    padding: 0 !important;
                }
                a:hover{
                    text-decoration: overline !important;
                    text-decoration-color: #2642c0 !important;
                    text-decoration-thickness: 2.5px !important;
                    background-color: transparent !important;
                }
            }
        }
    }

    /* Cabeçalho secundário */
    #cabSec{
        height: 30px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        flex-wrap: nowrap !important;
        background-color: #FFFFFF !important;
        padding: 0 10px !important;

        #menu{
            display: flex !important;
            align-items: center !important;
            justify-content: space-between !important;
            flex-wrap: nowrap !important;
            margin: 0 !important;
            padding: 0 !important;

            li{
                list-style-type: none !important;
                margin: 0px 10px !important;

                /* Sub-menu */
                select{
                    height: 29px !important;
                    margin-right: 25px !important;
                    text-align: center !important;
                    font-weight: 800 !important;
                    border-style: none !important;
                    border-right: 1px solid black !important;
                    background-color: white !important;
                    font-family: Arial, Helvetica, sans-serif !important;

                    option{
                        background-color: #D9D9D9 !important;
                    }
                }

                a{
                    color: black !important;
                    text-decoration: none !important;
                    background-color: transparent !important;
                    padding: 0 !important;
                }
                a:hover{
                    text-decoration: overline !important;
                    text-decoration-thickness: 2px !important;
                    text-decoration-color: #2642c0 !important;
                    background-color: transparent !important;
                }
            }
        }

        /* Ferramentas do site */
        #tools{
            display: flex !important;
            align-items: center !important;
            justify-content: space-between !important;
            flex-wrap: nowrap !important;
            margin: 0 !important;
            padding: 0 !important;

            li{
                list-style-type: none !important;
                margin: 0px 10px !important;

                a{
                    background-color: transparent !important;
                    padding: 0 !important;
                }
                a:hover{
                    img{
                        border-bottom: 2px solid black !important;
                    }
                }
            }
        }
    }
}

/* Footer do site */
footer{
    background-color: #131C44;
    font-family: Arial, Helvetica, sans-serif;

    #logoPrinc{
        display: block;
        width: 200px;
        margin: 0px auto;
        padding: 20px 0px ;
    }

    #bigBox{
        padding: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        /* Lado esquerdo do footer */
        #logoSocial{
            width: 30vw;
            margin-left: 62px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;

            img{
                width: 250px;
            }

            ul{
                display: flex;
                width: 250px;
                margin-top: 20px;
                align-items: center;

                li{
                    list-style-type: none;
                    margin: 0px auto;

                    a{
                        padding: 0px;
                        display: inline;

                        img{
                            width: 25px;
                        }
                    }
                }
            }
        }

        /* Lado direito do footer */
        #info{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 150vh;
            margin: 0px 25px;
            padding-left: 20px;
            
            .infoSec{
                padding: 0px 5px;

                h4{
                    color: white;
                    margin-bottom: 15px;
                    font-size: 20px;
                }

                ul{
                    width: 190px;

                    li{
                        padding: 5px 0px;
                        list-style-type: none;
                        
                        a{
                            font-size: 14px;
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}