body{
    background-color: #AEAEAE;
}

#promocao{
    width: 95%;
    margin: 10px auto;
    padding: 10px 20px;
    background-image: linear-gradient(#5972D6, rgba(255, 255, 255, 0));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


    h2{
        color: white;
        margin-left: 15px;
    }

    a{
        margin-right: 15px;
        padding: 5px 10px;
        font-weight: 800;
        font-size: 16px;
        text-decoration: none;
        background-color: #131C44;
        color: white;
        border-radius: 50px;
        transition-duration: 0.2s;
    }
    a:hover{
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.507);
    }

    #anuncios{
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        
        .produto{
            margin: 10px 15px;
            position: relative;
            background-color: #FFFFFF;
            width: 260px;
            height: 400px;
            border-radius: 15px;
            box-shadow: 0px 0px 20px 0px hsla(0, 0%, 0%, 0.507);
            transition-duration: 0.5s;


            .img_pequena{
                margin: 10px;
                width: 25px;
                position: absolute;
                left: 0;
                top: 0;
            }

            .immg_produto_anuncio_promocao{
                margin: 0px 5px;
            }

            h4{
                margin-left: 20px;
            }

            .valorProduto{
                margin: 20px 0px 5px 20px;

                text-decoration: line-through;
                color: rgba(0, 0, 0, 0.521);

                strong{
                    color: black;
                }
            }

            .avaliacoes{
                margin-bottom: 10px;

                .listAvaliacao{
                    list-style-type: none;
                    display: inline-block;
                    margin-left: 20px;
                    

                    li{
                        display: inline-block;
                        width: 10px;



                        a{
                            background-color: rgba(0, 0, 0, 0);
                            width: 10px;
                            padding: 0px;
                            margin: 0px;

                            img{
                                width: 10px;
                                background-color: #FFFFFF;
                            }
                        }
                    }
                }

                p{
                    display: inline-block;
                }
            }

            .info_foot{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                margin:20px 20px;
                font-size: 12px;

                div{
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                }
            }
        }

        .produto:hover{
            box-shadow: none;
        }
    }
}

#sugestoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80%;
    max-width: 1600px;
    margin: 0px auto;

    a{
        text-decoration: none;
        color: white;
        

        div{
            height: 700px;
            width: 400px;
            margin: 25px;
            background-size: cover;
            background-position: center;
            box-shadow: 0px 0px 20px 0px black;
            transition-duration: 0.3s;

            h2{
                text-align: center;
                text-wrap: inherit;
                font-size: 30px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 900;
                padding-top: 70px;
            }
        }

        div:hover{
            box-shadow: none;
        }

        .centro{
            h2{
                padding-top: 500px;
            }
        }

        #sugest1{
            background-image: url(../img/sujest_01.png);
        }
        #sugest2{
            background-image: url(../img/sujest_02.png);
        }
        #sugest3{
            background-image: url(../img/sujest_03.png);
        }
    }
}

#parceiros{
    background-color: #D9D9D9;
    box-shadow: 0px 0px 20px 0.5px black;
    margin: 15px 0px;
    

    #container{
        max-width: 1000px;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        h3{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            flex-basis: 100%;
            text-align: center;
            font-size: 30px;
            padding-top: 30px;
        }

        a{
            img{
                width: 150px;
                transition-duration: 0.5s;
            }
        }
    }
}

#guia_fundo{
    background-color: #D9D9D9;
    margin: 30px 0px 0px;
    padding: 10px;
    
    h3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 20px;
        flex-basis: 100%;
    }
    
    #flex_guia{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        .sGuia{
            min-width: 100px;
            margin: 5px;
    
    
            img{
                width: 100%;
                min-width: 100px;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.459);
            }
    
            ul{
                list-style-type: none;
    
                li{
                    margin-top: 10px;
                    display: inline-block;

                    a{
                        font-weight: 700;
                        font-family: Arial, Helvetica, sans-serif;
                        text-decoration: none;
                        color: black;

                    }

                    a:hover{
                        text-decoration: underline;
                    }
                }
    
                hr{
                    margin-top: 10px;
                    margin-bottom: 15px;
                    display: block;
                    max-width: 100%;
                    color: rgba(0, 0, 0, 0.658);
                    border-style: solid;
                }
            }
        }
    }


}